.headings {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    color: #8A2BE2;
}

.classtag {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: #E6E6FA;
}
body {
    background-color: #8FBC8F;
}

body {
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
    color: #FFFAF0;
}
.whydontwe {
    border-radius: 500px;
}